<div class="col-md-offset-4 col-md-4">
	<div class="create-room">
		<div class="main-title">
			<h3 >Edit room</h3>
		</div>

		<form method="POST" action="<%=base_url%>/room/edit/<%=room.room%>">

			<% if(typeof success_msg != 'undefined') { %>
			<div class="top-messages bg-success"><%= success_msg %></div>
			<% } %>

			<% if(typeof error_msg != 'undefined') { %>
			<p class="top-messages bg-danger"><%= error_msg %></p>
			<% } %>

			<div class="form-group">
				<label for="title">Title <span class="text-danger">*</span></label>
				<input name="title" type="text" class="form-control" id="title" value="<%=room.title%>" placeholder="Room title">
			</div>
			<div class="form-group">
				<label for="description">Description</label>
				<textarea name="description" class="form-control" id="description" placeholder="Room description ..."><%=room.description%></textarea>
			</div>
			<div class="text-danger form-group">* Required field</div>
			<button type="submit" class="btn btn-default">Save</button>
			<a href="<%= base_url%>/room/<%=room.room%>" class="btn btn-default">Cancel</a>
		</form>
	</div>
</div>
